src/test/resources/sample/models/main/grammars/nvdl/book-augmented.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0" startMode="root">
  
  <mode name="root">
    <namespace ns="">
      <!--valide l'intégralité de selon modèle rng-->
      <validate schema="../rng/book/book.rng" useMode="unattach">
        <context path="cals-table" useMode="cals"/>
        <context path="title" useMode="html5.span"/>
      </validate>
      <!--valide l’intégralité selon le schematron-->
      <validate schema="../sch/book.sch" useMode="attach" />
    </namespace>
  </mode>
  
  <mode name="html5.span">
    <namespace ns="http://www.w3.org/1999/xhtml">
      <validate schema="../rnc/html5.span.rnc" schemaType="application/relax-ng-compact-syntax"/>
      <allow/>
    </namespace>
  </mode>
  
  
  <mode name="cals">
    <namespace ns="http://docs.oasis-open.org/ns/oasis-exchange/table">
      <validate schema="dependency:/eu.els.sie.models+ext-models/ext-models/oasis/cals/dtd/convert/cals.rng"/>
      <!--<validate schema="dependency:/eu.els.sie.models+ext-models/ext-models/oasis/cals/schematron/cals.sch" />-->
    </namespace>
  </mode>
  
  <mode name="attach">
    <anyNamespace>
      <attach/>
    </anyNamespace>
  </mode>
  
  <mode name="unattach">
    <anyNamespace>
      <allow/>
    </anyNamespace>
  </mode>
  
</rules>
